body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
.grid {
    display: flex;
    flex-wrap: wrap;
}
.grid-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    height: 50px;
}
.grid4x4 > .grid-item {
    margin: 10px;
    width: calc(25% - 20px);
}
.grid2x2 > .grid-item {
    margin: 10px;
    width: calc(50% - 20px);
}
.grid6x1 > .grid-item {
    margin: 10px;
    width: calc(16.6% - 20px);
}
